@font-face {
    font-family: 'Gotham';
    src: url('./static/Fonts/GothamBook.ttf') format('truetype');
    font-weight: 400;
    /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('./static/Fonts/GothamBold.ttf') format('truetype');
    font-weight: 700;
    /* Bold */
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('./static/Fonts/Gotham-Black.otf') format('truetype');
    font-weight: 900;
    /* Black */
    font-size: normal;
}

:root {
    --color-primary: #269fe6;
    --color-primary-hover: #2086c2;
    --color-primary-dark: #13141f;
    --color-primary-dark-hover: #212336;
    --color-primary-light: #d4ecfa;
    --color-primary-light-hover: #bdd8e7;
    --color-white: #fff;
    --color-black: #000;
    --color-dark-text: #444;
    --color-info-light: #cce5ff;
    --color-debug-light: #cce5ff;
    --color-success-light: #d4edda;
    --color-alert-light: #fff3cd;
    --color-warning-light: #fff3cd;
    --color-error-light: #f8d7da;
    --color-info-dark: #4d86c4;
    --color-debug-dark: #4d86c4;
    --color-success-dark: #4a9c5d;
    --color-alert-dark: #927f40;
    --color-warning-dark: #927f40;
    --color-error-dark: #da525d;
    --color-gray-0: #f9f9f9;
    --color-gray-1: #e0e0e0;
    --color-gray-2: #c7c7c7;
    --color-gray-3: #aeaeae;
    --color-gray-4: #959595;
    --color-gray-5: #7d7d7d;
    --color-gray-6: #646464;
    --color-gray-7: #4b4b4b;
    --color-gray-8: #323232;
    --color-gray-9: #191919;


    --font-primary: sans-serif;
    /* Fonte principal */
    --font-headings: 'Roboto Slab', serif;
    /* Fonte para títulos */
    --spacing-gutter-medium: 3rem;
    /* Espaçamento médio */
    --spacing-gutter-large: 4rem;
}

/* Estilo base: remove margens, paddings e define box-sizing */
* {
    padding: 0;
    margin: 0;
}

/* Define o tamanho da fonte base no HTML para facilitar cálculos rem */
html {
    font-size: 62.5%;
}

/* Define o estilo padrão do corpo da página */
body {
    font-size: 1.6rem;
    font-family: var(--color-primary);
    background: white;
}

/* Fundo do cabeçalho principal */
.main-header-container {
    background: red;
    padding: 1rem;
}

.container-center .center {
    display: flex;
    justify-content: space-between;
    max-width: 160rem;
    /*1170p*/
    margin: 0 auto;
    width: 100%;
    align-items: center;
}

.container-center .menu {
    display: flex;
    list-style-type: none;
    margin: 0 auto;
    gap: 4rem;
}

.menu-container a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Gotham', sans-serif;
    font-weight: 700;
    padding: 0.5rem 1rem;
    /* Adiciona espaço ao redor do texto, para que o fundo fique maior que a palavra.
                                padding: 0.5rem 1rem significa 0.5rem no topo e na base, e 1rem nas laterais. */
    border-radius: 50px;
    /* Deixa o fundo arredondado */
    transition: 0.3s;
    /* Animação suave */
}

.menu-container a:hover {
    color: red;
    background: white;
}

.main-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.main-content {
    max-width: 1500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* Organiza os elementos em linha (horizontalmente) */
    align-items: flex-start;
    /* Alinha os elementos ao topo */
    justify-content: center;
    /*Adiciona espaçamento entre texto e imagem */
}

.main-content-text {
    max-width: 64rem;
    /* Define uma largura máxima para o elemento. Isso limita o tamanho do conteúdo mesmo em telas maiores. */
    margin-left: 0 auto;
    /* Centraliza o elemento horizontalmente, já que `auto` nas margens funciona em conjunto com largura fixa ou máxima. */
}


.main-content-text .title-h2 {
    font-family: 'Gotham', sans-serif;
    /* Define a fonte primária como 'Gotham'. Caso não esteja disponível, usa 'sans-serif' como reserva. */
    color: #001369;
    /* Define a cor do texto em um tom de azul escuro. */
    font-weight: 700;
    /* Define o peso da fonte como negrito (700 é equivalente a "bold"). */
    font-size: 6rem;
    /* Define o tamanho da fonte em 6 rem (relativo ao tamanho da raiz). */
}

.main-content-text .title-h1 {
    font-family: 'Gotham', sans-serif;
    /* Aplica a mesma configuração de fonte usada no título anterior. */
    color: red;
    /* Define a cor do texto como vermelho. */
    font-size: 11rem;
    /* Define o tamanho da fonte como 11 rem, o que a torna bem maior que `title-h2`. */
    font-weight: 900;
    /* Usa um peso de fonte ainda maior, tornando o texto extra negrito. */
    padding: 0.5px;
    /* Adiciona um espaçamento interno mínimo ao redor do texto (0.5px é muito pequeno). */
}

.plac-description p {
    padding: 1rem 0 4rem 0;
    /* Adiciona espaçamento interno:
                                  - Superior: 1 rem
                                  - Direito: 0
                                  - Inferior: 4 rem
                                  - Esquerdo: 0 */
}

.plac-description .sac {
    color: white;
    /* Define a cor do texto como branco. */
    background: red;
    /* Define o fundo do botão como vermelho. */
    padding: 1rem 2rem;
    /* Adiciona espaçamento interno:
                              - Superior e Inferior: 1 rem
                              - Direito e Esquerdo: 2 rem */
    border-radius: 50px;
    /* Arredonda os cantos do botão, deixando-o com bordas circulares. */
    font-size: 2rem;
    /* Define o tamanho da fonte como 2 rem. */
    text-decoration: none;
    /* Remove o sublinhado padrão de links. */
    display: inline-block;
    /* Permite o uso de margens e paddings enquanto mantém o botão em linha com outros elementos. */
    margin-right: 1rem;
    /* Adiciona espaçamento à direita do botão. */
}

.sac {
    font-family: 'Gotham', sans-serif;
    /* Usa a fonte 'Gotham' como primária. */
    font-weight: 700;
    /* Define o peso da fonte como negrito. */
    font-size: 4rem;
    /* Define um tamanho grande para o texto. */
    text-decoration: none;
    /* Remove o sublinhado padrão. */
    flex-flow: column nowrap;
    /* Define o fluxo de layout flexível:
                                    - `column`: organiza itens verticalmente.
                                    - `nowrap`: impede que os itens quebrem para novas linhas. */
}


.picture {
    text-align: right;
    /* Alinha o conteúdo interno (como imagens) à direita. */
    flex-shrink: 0; /* Impede que o elemento encolha caso o espaço disponível seja reduzido. */
}

.picture img {
    max-width: 90%;
    /* Garante que a largura da imagem nunca ultrapasse 100% de seu contêiner. */
    height: auto;
    /* Ajusta automaticamente a altura proporcional à largura, mantendo a proporção da imagem. */
}


.main-footer {
    margin: 0;
    height:min-content;
    background: var(--color-gray-1);
    display: flex;
    /*Container flexível: Isso ativa o Flexbox, que é um sistema de layout para organizar os elementos filhos do container.*/
    padding: 1rem;
    /*Adiciona um espaçamento interno (padding) de 2rem em todos os lados do elemento.*/
    justify-content: center;
    /*Alinha os elementos filhos horizontalmente no centro do container.*/
    flex-flow: column nowrap;
    /*flex-direction: column; significa que os itens filhos serão dispostos em uma coluna vertical.
    flex-wrap: nowrap; impede que os itens "quebrem" para uma nova linha, forçando-os a permanecer na mesma coluna.*/
}

.footer-address {
    font-size: 14px;
    font-family: 'Gotham', sans-serif;
    font-weight: 400;
    color: var(--color-gray-6);
    font-style: normal;
}

.footer-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /*Define a largura do container como 100% do elemento pai. Desta forma ele fixa as informações no meio centralizado*/
    max-width:970px;
    /*Define uma largura máxima de 1170px para o container.
        Mesmo que o elemento pai seja maior, o container não ultrapassará 1170px de largura.*/
    margin: 0 auto;
    /*Isso centraliza o container horizontalmente dentro de seu elemento pai, 
        desde que uma largura (ou max-width) esteja definida.*/
    padding: 1rem;
}

.footer-section .location {
    font-size: 2rem;
    font-family: 'Gotham', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: var(--color-gray-8);
}

.footer-section i {
    font-size: 15px;
    color: var(--color-gray-8);
}

.footer-information {
    display: grid;
}

.footer-information h2 {
    font-size: 15px;
    font-family: 'Gotham', sans-serif;
    font-weight: 700;
    color: var(--color-gray-7);
}

.footer-information a{
    padding: 3px;
    color: var(--color-gray-7);
    font-size: 12px;
    font-family: 'Gotham', sans-serif;
    font-weight: 400;
    text-decoration: none;
}

.footer-information h2:nth-of-type(2) {
    margin-top: 15px;
}

.body-main-form {
    background: white;
    margin: 3px;
    border: solid var(--color-gray-1);
    border-radius: 5px;
    /*CONFIGURAR FORM PARA ELE FICAR GRANDE*/

    width: 100%;
    max-width: 800px;
    margin: 7%;
}

.main-Login {  
    background: var(--color-gray-0);
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    
    border: var(--color-gray-5);
    display: grid;
    border-radius: 5px;
    box-shadow: -3.5px 5px 9px -4px var(--color-gray-2);
    /*adicionar uma sombra a um retângulo em CSS*/
}

.groundLogin {
    background: var(--color-gray-1);
    font-size: 3rem;
    font-family: 'Gotham', sans-serif;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.form-login {
    background: white;
    padding: 1rem;
    width: 100%;
    margin: 0 auto;
}

.form-login p {
    color: red;
    font-size: 15px;
    font-family: 'Gotham', sans-serif ;
    font-weight: 700;
}

.password {
    padding-top: 7%;
}

.input-box input {
    border-radius: 30px;
    border: 1.5px solid var(--color-gray-1);
    height: 2rem;
    background-color: white;

    width: 30rem;
    margin-top: 3px;
}

.form-login div {
    align-items: center;
    justify-content: center;
    padding: 15px;
    display: grid;
}

.remember-forgot .center-form {
    color: var(--color-gray-6);
    font-family: 'Gotham', sans-serif;
    font-size: 1rem;
    font-weight: 700;
}

/*.main-bottum-login {
    display: flex;
    align-items: center;
    justify-content: center;
}*/

.main-bottum-login button {
    background-color: red;
    border-radius: 15px;
    font-size: 15px;
    border: none;
    /*remover a borda preta de um botão no CSS*/
    padding: 5px 12px 5px 12px;
    color: white;
    font-family: 'Gotham', sans-serif;
    font-weight: 700;
}


