<footer class="main-footer">
    <div class="footer-section">
        <div class="footer-section-location">
            <a class="location" href="https://maps.app.goo.gl/fipHoqSSuSP9Ctbr9"><i class="fa-solid fa-location-dot " aria-label="Abrir localização no Google Maps"></i> LOCALIZAÇÃO</a>
            <address class=" footer-address">
                R. Antônio Fernandes Figuerôa, 1691 <br> Lagoinha, Ribeirão Preto - SP <br> CEP 14095-280
            </address>
        </div>
        <div class="footer-information">
            <h2>CONTATOS</h2>
            <a><i class="fa-solid fa-square-phone"></i> (16) 3635-9546</a>
            <a ><i class="fa-brands fa-square-whatsapp"></i> (16) 3625-1074</a>

            <h2>REDES SOCIAIS</h2>
            <a href="https://www.instagram.com/placfestas/"><i class="fa-brands fa-square-instagram"></i> @placfestas</a>
            <a href="https://www.facebook.com/placfestas/?locale=pt_BR"><i class="fa-brands fa-square-facebook"></i> Plac Festas</a>
        </div>
        <div class="footer-information">
            <h2>COMPRE CONOSCO!</h2>
            <a  href="https://loja.plac.com.br/"><i class="fa-sharp fa-solid fa-bag-shopping"></i> https://loja.plac.com.br</a>
            <a href="https://www.plac.com.br/"><i class="fa-solid fa-globe" aria-label="Abrir site oficial"></i> https://www.plac.com.br</a>

            <h2>CATÁLOGO 2024</h2>
            <a href="https://heyzine.com/flip-book/39f626fb29.html"><i class="fa-sharp fa-solid fa-book-open"></i> Catálogo de Produtos</a>
            <a href="https://heyzine.com/flip-book/cce710b909.html"><i class="fa-solid fa-star"></i> Catálogo Especial</a>
        </div>
    </div>
</footer>