<header class="main-header-container">
    <div class="container-center ">
        <div class="center">
            <h1 class="main-logo">
                <a href="/" title="Plac"></a>
                <img src="static/ImagensTemplate/logoPrincipal.jpg" width="200" height="60" alt="Logo Plac">
            </h1>
            <nav class="menu-container">
                <ul class="menu">
                    <li class="item"><a href="/">HOME</a></li>
                    <li class="item"><a href="https://loja.plac.com.br/">SERVIÇOS</a></li>
                    <li class="item"><a href="https://www.plac.com.br/fale-conosco/">FALE CONOSCO</a></li>
                    <li class="item"><a href="https://loja.plac.com.br/conta/login/">ENTRE/CADASTRE-SE</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
