{% load static %}
<header class="main-header-container">
    <div class="container">
        <h1>
            <a class="main-logo" href="/" title="Plac">
                <img src="{% static 'imagenstemplate/logo.png' %}" width="250" height="83">
                <i class="main-logo-company"></i>

            </a>
        </h1>
        <div class="">
            <nav class="">
                <ul href="/" class="">HOME</ul>
                    <li class=""> 
                        <a href="/" class=""></a>
                    </li>
                <href="/" class="">SERVIÇOS
                    <li class=""> 
                        <a href="/" class=""></a>
                    </li>
                href="/" class="">FALE CONOSCO
                    <li class=""> 
                        <a href="/" class=""></a>
                    </li>
                href="/" class="">Entre ou Cadastre-se
                    <li class=""> 
                        <a href="/" class=""></a>
                    </li>
            </nav>
        </div>
    </div>
</header>