{%extends "C:\Users\User\Documents\WEBSITE\base_templates\global\base.html" %}

{% block title %} Reclamações | {% endblock title %}

{% block content %}

    <section class="homepage-section">
        <div class="homepage-section-board">
            <h1>OLÁ, {{user.username}}</h1>
            <p >MINHAS RECLAMAÇÕES</p>
        </div>
        <div class="homepage-list-sac">
            <p>COMENTÁRIOS</p>
            <p>CANCELAR</p>
        </div>
        <div class="homepage-information">
            <h2>HORÁRIO DE ATENDIMENTO</h2>
            <p>07H30 ÁS 12H00 - 13H00 ÁS 17H00</p>
        </div>
    </section>
{% endblock content %}