{% extends "C:\Users\User\Documents\WEBSITE\base_templates\global\base.html" %}

{% block title %} SAC |{% endblock title %}

{% block content %}
<form action="{% url 'registrar_reclamacao' %}" method="POST" class="forms-complaint" >
    {% csrf_token %}

        <div class="title-complaint">
            <h1>FAÇA UMA RECLAMAÇÃO</h1>
        </div>

        <div class="divs-complaint">
            <div class="complaint">
                <div class="form-complaint product-complaint">
                    <div class="inputs-complaint">
                        <label for="produto">PRODUTO</label>
                        <input type="text" id="produto" name="produto" required>
                    </div>
                    <div class="inputs-complaint">
                        <label for="loja">LOJA DE ORIGEM DO PRODUTO</label>
                        <input type="text" id="loja" name="loja" required>
                    </div>
                    <div class="inputs-complaint">
                        <label for="valor">VALOR DA COMPRA</label>
                        <input type="number" step="0.1" id="valor" name="valor" required>
                    </div>
                    <div class="inputs-complaint upload">
                        <label for="upload-complaint"><i class="fa-solid fa-arrow-up-from-bracket"></i> UPLOAD DE IMAGEM</label>
                        <input type="file" name="media" id="upload-complaint" accept="image/*" required>
                        <h3>*FOTO DO PRODUTO</h3>
                        <h3>*FOTO DA ETIQUETA DO PRODUTO</h3>
                        <h3>*NOTA COM VALOR DA COMPRA</h3>
                    </div>
                </div>
                <div class="form-complaint">
                    <div class="inputs-complaint">
                        <label for="data_fabricacao">DATA DE FABRICAÇÃO</label>
                        <input type="date" id="data_fabricacao" name="data_fabricacao" required>
                    </div>
                    <div class="inputs-complaint">
                        <label for="quantidade">QUANTIDADE</label>
                        <input type="number" id="quantidade" name="quantidade" required>
                    </div>
                </div>
                <div class="form-complaint">
                    <div class="inputs-complaint">
                        <label for="reclamacao">RECLAMAÇÃO:</label>
                        <textarea name="reclamacao" id="input-complaint-text" required></textarea>
                    </div>
                    <div class="button-complaint">
                        <button type="submit">ENVIAR</button>
                    </div>
                </div>

            </div>
        </div>
</form>
{% endblock content %}