{% extends "C:\Users\User\Documents\WEBSITE\base_templates\global\base.html" %}

{% block title %}Home| {% endblock title %}
    
{% block content %}
        <div class="main-content">
            <div class="main-content-text">
                <h2 class="title title-h2">BEM-VINDO AO</h2>
                <h1 class="title title-h1">SAC PLAC</h1>
                <div class="plac-description">
                    <p>Fundada em 1992 na cidade de Ribeirão Preto no interior do estado de São Paulo, a PLAC Indústria e Comércio de Artigos para Festa LTDA atua no segmento de produtos para festas, aniversários, casamentos e descartáveis. Fabricando e comercializando produtos adequados às necessidades e preferências dos consumidores brasileiros, visa impulsionar os negócios de seus revendedores. Atende o Brasil inteiro trabalhando sempre com a melhor qualidade, tendo como objetivo a satisfação total de todos. A PLAC sempre inovando no mercado foi uma das 1ª empresas a implantar a variedade de cores das forminhas para doces, e hoje conta com mais de 600 itens variados.</p> 
                    <a class="sac" href="/">RECLAMAÇÃO</a>
                    <a class="sac" href="/">SUGESTÃO</a>
                </div>
            </div>
            <div class="picture">
                <a href="/">
                    <img src="static/ImagensTemplate/home.jpg" width="800" height="600" alt="">
                </a>
            </div>
        </div> 
{% endblock content %}  



