<!DOCTYPE html>
<html lang="pt-BR">
    {% include "SAC/partials/head.html" %} 

<body>
    <div class="main-header-container">
        <div class="container-center ">
            <div class="center">
                <h1 class="main-logo">
                    <a href="/" title="Plac"></a>
                    <img src="static/ImagensTemplate/logoPrincipal.jpg" width="200" height="60" alt="Logo Plac">
                </h1>
                <nav class="menu-container">
                    <ul class="menu">
                        <li class="item"><a href="/">HOME</a></li>
                        <li class="item"><a href="https://loja.plac.com.br/">SERVIÇOS</a></li>
                        <li class="item"><a href="https://www.plac.com.br/fale-conosco/">FALE CONOSCO</a></li>
                        <li class="item"><a href="https://loja.plac.com.br/conta/login/">ENTRE/CADASTRE-SE</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="">
        <div class="">
            <div class=""></div>
        </div>
    </div>

     <main class="main-content-container">
        <div class="main-content">
            <div class="main-content-text">
                <h2 class="title title-h2">BEM-VINDO AO</h2>
                <h1 class="title title-h1">SAC PLAC</h1>
                <div class="plac-description">
                    <p>Fundada em 1992 na cidade de Ribeirão Preto no interior do estado de São Paulo, a PLAC Indústria e Comércio de Artigos para Festa LTDA atua no segmento de produtos para festas, aniversários, casamentos e descartáveis. Fabricando e comercializando produtos adequados às necessidades e preferências dos consumidores brasileiros, visa impulsionar os negócios de seus revendedores. Atende o Brasil inteiro trabalhando sempre com a melhor qualidade, tendo como objetivo a satisfação total de todos. A PLAC sempre inovando no mercado foi uma das 1ª empresas a implantar a variedade de cores das forminhas para doces, e hoje conta com mais de 600 itens variados.</p> 
                    <a class="sac" href="/">RECLAMAÇÃO</a>
                    <a class="sac" href="/">SUGESTÃO</a>
                </div>
            </div>
            <div class="picture">
                <a href="/">
                    <img src="static/ImagensTemplate/home.jpg" width="800" height="600" alt="">
                </a>
            </div>
        </div>
     </main>   

    <footer class="main-footer">
        <div class="footer-section">
            <div>
                <a class="location" href="https://maps.app.goo.gl/fipHoqSSuSP9Ctbr9"><i class="fa-solid fa-location-dot " aria-label="Abrir localização no Google Maps"></i> LOCALIZAÇÃO</a>
                <address class=" footer-address">
                    R. Antônio Fernandes Figuerôa, 1691 <br> Lagoinha, Ribeirão Preto - SP <br> CEP 14095-280
                </address>
            </div>
            <div class="">
                <h2>CONTATOS</h2>
                <a class="footer-information"><i class="fa-solid fa-square-phone"></i> (16) 3635-9546</a>
                <br>
                <a class="footer-information"><i class="fa-brands fa-square-whatsapp"></i> (16) 3625-1074</a>
                <h2>REDES SOCIAIS</h2>
                <a class="footer-information" href="https://www.instagram.com/placfestas/"><i class="fa-brands fa-square-instagram"></i> @placfestas</a>
                <br>
                <a class="footer-information" href="https://www.facebook.com/placfestas/?locale=pt_BR"><i class="fa-brands fa-square-facebook"></i> Plac Festas</a>
            </div>
            <div class="">
                <h2>COMPRE CONOSCO!</h2>
                <a class="footer-information" href="https://loja.plac.com.br/"><i class="fa-sharp fa-solid fa-bag-shopping"></i></i> https://loja.plac.com.br/</a>
                <br>
                <a class="footer-information" href="https://www.plac.com.br/"><i class="fa-solid fa-globe" aria-label="Abrir site oficial"></i> https://www.plac.com.br/</a>
                <h2>CATÁLOGO 2024</h2>
                <a class="footer-information" href="https://heyzine.com/flip-book/39f626fb29.html"><i class="fa-sharp fa-solid fa-book-open"></i> Catálogo de Produtos</a>
                <br>
                <a class="footer-information" href="https://heyzine.com/flip-book/cce710b909.html"><i class="fa-solid fa-star"></i> Catálogo Especial</a>
            </div>
        </div>
    </footer>
</body>
</html>


