{% extends "C:\Users\User\Documents\WEBSITE\base_templates\global\base.html" %}

{% block title %} Login |{% endblock title %}

{% block content %}

<div class="main-content">
    <div class="body-main-form">
        <form action="">
            <div class="main-Login">
                <div class="groundLogin"><p>LOGIN</p></div>
                <div class="form-login">
                    <div class="input-box">
                        <p> LOGIN</p>
                        <input type="email" placeholder="E-mail" required>
                    </div>
                    <div class="input-box password">
                        <p> SENHA</p>
                        <input type="password" placeholder="Senha" required>
                    </div>
                    <div class="remember-forgot">
                        <a class="center-form" href="#"> ESQUECI MINHA SENHA</a>
                        <a class="center-form" href="#"> CADASTRE-SE</a>
                    </div>
                    <div class="main-bottum-login">
                        <button type="submit" class="button">ACESSAR</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


{% endblock content %}

<!--O HTML também contém atributos que permitem que desenvolvedores web indiquem quais campos são obrigatórios e até mesmo o tipo de conteúdo que precisa ser inserido. -->
<!--required: Torna o campo obrigatório.
placeholder: Adiciona um texto de ajuda dentro do campo.
maxlength: Limita o número máximo de caracteres.
pattern: Define um padrão regex para validação.-->