{% extends "C:\Users\User\Documents\WEBSITE\base_templates\global\base.html" %}

{% block title %} Login |{% endblock title %}

{% block content %}
    
    <div class="main-content">
        <div class="main-Login">
            <div class="groundLogin">
                <p>LOGIN</p>
            </div>
            <div class="form-login">
                <form action="">
                    <label for="">LOGIN</label>
                    <label for="">SENHA</label>
                </form>
            </div>
            <div >
                <button class="bottum-login">ACESSAR</button>
            </div>
        </div>
    </div>


{% endblock content %}